body {
    font-size: 0;
    /*overflow: hidden;*/
}

#title {
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 12;
    display: compact;
    letter-spacing: 5px;
    left: 25px;
    top: 18px;
    position: fixed;
}

div.header {
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    /*padding-top: 3%;*/
    /*padding-bottom: 3%;*/
    height: 60px;
    /*margin-bottom: 10%;*/
    /*font-variant: small-caps;*/
    /*z-index: 0;*/
    /*margin-top: 0;*/
    /*box-shadow: 0px 0px 10px #110f2b;*/
}

.header-btn {
    height: 60px;
    width: 20vw;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    background-color: black;
    color: white;
    /*#007177*/
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: none;
    border-bottom: none;
    transition-duration: 0.3s;
    margin: 0 3vmax 0 3vmax;
    padding: 0;
}

button:hover.header-btn {
    background-color: white;
    color: black;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px inset black;
}

.headercontent {
    /*width: 50%;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-top: 2%;*/
    position: absolute;
    left: 24vmax;
    /*right: 50%;*/
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    font-family: sans-serif;
    font-size: 10px;
    text-align: right;
    height: 15px;
}

span.footer {
    margin: 10px;
}

.body {
    padding-top: 60px;
    padding-bottom: 15px;
    height: 100%;
}

button.tab {
    height: 40px;
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 5px;
    text-align: center;
    color: black;
    /*#007177*/
    transition-duration: 0.3s;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c1c1c1;
    border-left: 0.5px;
    border: none;
}

#caeser-tb {
    /*background-color: #f44141;*/
    /*background-color: white;*/
    /*border: 1px inset black;*/
}

#vigenere-tb {
    /*background-color: #41f4b8;*/

}

button:hover#caeser-tb {
    color: red;
}

button:hover#vigenere-tb {
    color: blue;
    display: inline-block;
    margin-right: 0;
}

.descrip {
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    width: 50%;
    border: 1px inset black;
}

.descrip-cnt {
    margin-left: 20px;
    margin-right: 20px;
}

#caesar {
    display: block;
}

#vigenere {
    display: none;
}

.tb-container button.active {
    background-color: white;
    border: 1px inset black;
}

.active {
    background-color: white;
    border: 1px inset black;
}

.block {
    display: block;
}

img {
    padding-top: 60px;
    width: 30%;
    display: inline;
    position: fixed;
    right: 10%;
}

/* CIPHER.HTML */

#input {
    margin: 5% 5% 3% 5%;
    width: 90%;
}
/*82%*/
#select-cipher {
    margin: 1% 30% 1% 30%;
    width: 40%;
}

#select-code {
    margin: 1% 30% 1% 30%;
    width: 40%;
}

#run-btn {
    margin: 1% 40% 3% 40%;
    width: 20%;
}

#output {
    margin: 3% 5% 5% 5%;
    width: 90%;
}

/* .textbox {
    position: absolute;
    height: 20%;
}

.dropdown {
    position: absolute;
} */

.textbox {
  height: 35%;
}

/*user agent stylesheet from laptop (cruddy chromebooks)*/
select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    /* border-color: initial; */
    border-image: initial;
}
/*/////////////////end//////////////////*/
