div, #game {
    position: absolute;
    width: auto;
    height: auto;
    left: 1;
    top: 1;
    background-color: white;
    font-family: "Courier New", Courier, monospace;
}

input, button {
  font-family: "Courier New", Courier, monospace;
  margin-right: 10px;
}
