#game {
    position: absolute;
    width: 99vw;
    left: 1;
    top: 1;
    font-family: "Courier New", Courier, monospace;
}

input, button {
  font-family: "Courier New", Courier, monospace;
  margin-right: 10px;
}

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  color: black;
}

p {
  width: 50%;
  margin-left: 25%;
}
