    
    
    body {
        background-color:#110f2b;
        color:#b7afff;
        text-align:center;
        font-family:"Cabin",sans-serif;
        z-index:0;
    }
    a {
       text-decoration:none;
       color:#b7afff;
    }
    .link {
        color:#ffffff;
    }
    p {
        margin-left:22.5%;
        width:55%
    }
    h1{
    	font-size:700%;
    	font-variant:small-caps;
    	font-family:"Oswald",sans-serif;
    }
    h2 {
    	font-size:300%;
    	margin-bottom:10px;
    	padding-bottom:0;
    	font-variant:small-caps;
    	font-family:"Oswald",sans-serif;
    }
    h3 {
        font-family:"Oswald",sans-serif;
        font-size:200%;
    }
    marquee {
    	margin:0;
    	padding:0;
    }
    .header {
        padding-top:3%;
        padding-bottom:3%;
        margin-bottom:10%;
        font-variant:small-caps;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        background-color:#110f2b;
        z-index:0;
        margin-top:0;
        box-shadow: 0px 2px 20px #110f2b;
    }
    .headeritem {
        padding-left:20px;
        padding-right:20px;
        font-size:150%;
        color:#b7afff;
        text-decoration:none;
    }
    .dancingqueen {
        padding:0;
        margin:0;
        width:5%;
    }
    #firstup {
        padding-top:8%;
    }
    table {
        width:65%;
        margin-left:17.5%;
        margin-right:17.5%;
        text-decoration:none;
        color:#b7afff;
        border-style:solid;
    }
    th {
        background-color:#010011;
        background-color:#01001c;
        background-color:#020023;
    }
    .less {
        background-color:#01001c;
        background-color:#020023;
        background-color:#020030;
        background-color:#02002d;
    }
    /*th {*/
    /*    background-color:#0c0c0c;*/
    /*}*/
    /*.less {*/
    /*    background-color:#191919;*/
    /*}*/
    td {
        padding:5px;
    }
    .data {
        width:22.5%;
    }
    fbla .img {
        margin-top:10px;
    }
    ul {
        list-style-type:none;
    }
    #back {
        position:fixed;
        bottom:5%;
        left:5%;
        background-color:#110f2b;
    }